.flows_agromeansvm.json.backup
[{"id":"c0be38a6.0d5d78","type":"tab","label":"Home Page","disabled":false,"info":""},{"id":"b09ebb05.61dc88","type":"tab","label":"Monitor Page","disabled":false,"info":""},{"id":"c52f7043.422b","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a585fbab.a4fa68","type":"ui_group","z":"","name":"Control","tab":"3e92ffac.f116e","order":2,"disp":true,"width":"6","collapse":false},{"id":"e760d384.69587","type":"mqtt-broker","z":"","name":"","broker":"20.191.97.53","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"19bb753e.662f4b","type":"ui_group","z":"","name":"Setup","tab":"3e92ffac.f116e","order":3,"disp":true,"width":"6","collapse":false},{"id":"3e92ffac.f116e","type":"ui_tab","z":"","name":"Control","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"c3b75fd4.b452e","type":"ui_group","z":"","name":"monitor","tab":"52e4b8ca.cf6138","order":2,"disp":true,"width":"12","collapse":false},{"id":"52e4b8ca.cf6138","type":"ui_tab","z":"","name":"Monitor","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"df1c4ce7.077ed","type":"ui_group","z":"","name":"Picture","tab":"3e92ffac.f116e","order":1,"disp":true,"width":"12","collapse":false},{"id":"2dd495be.cc7aea","type":"ui_group","z":"","name":"Setup","tab":"52e4b8ca.cf6138","order":3,"disp":true,"width":"6","collapse":false},{"id":"b44ba43.8bf7458","type":"ui_tab","z":"","name":"Settings","icon":"settings"},{"id":"65ff235f.16185c","type":"ui_spacer","name":"spacer","group":"c3b75fd4.b452e","order":2,"width":12,"height":1},{"id":"c85dbd07.cf75c","type":"ui_slider","z":"c0be38a6.0d5d78","name":"","label":"led","tooltip":"","group":"a585fbab.a4fa68","order":6,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"10","max":"90","step":"10","x":150,"y":360,"wires":[["5d56e64b.c68e28"]]},{"id":"5d56e64b.c68e28","type":"mqtt out","z":"c0be38a6.0d5d78","name":"","topic":"${MQTT_LED}","qos":"","retain":"","broker":"e760d384.69587","x":380,"y":360,"wires":[]},{"id":"745421c3.4a0c1","type":"ui_switch","z":"c0be38a6.0d5d78","name":"","label":"AI","tooltip":"","group":"a585fbab.a4fa68","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"control","style":"","onvalue":"ai","onvalueType":"str","onicon":"","oncolor":"","offvalue":"manual","offvalueType":"str","officon":"","offcolor":"","x":150,"y":300,"wires":[["49b250c2.17555"]]},{"id":"49b250c2.17555","type":"mqtt out","z":"c0be38a6.0d5d78","name":"","topic":"${MQTT_MANUAL_SWITCH}","qos":"","retain":"","broker":"e760d384.69587","x":420,"y":300,"wires":[]},{"id":"7419ae94.8b693","type":"ui_form","z":"c0be38a6.0d5d78","name":"","label":"","group":"19bb753e.662f4b","order":5,"width":0,"height":0,"options":[{"label":"height (m)","value":"height","type":"number","required":true,"rows":null}],"formValue":{"height":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":670,"y":160,"wires":[["8649f178.3dd9e"]]},{"id":"8649f178.3dd9e","type":"mqtt out","z":"c0be38a6.0d5d78","name":"","topic":"${MQTT_HEIGHT_FORM}","qos":"","retain":"","broker":"e760d384.69587","x":870,"y":160,"wires":[]},{"id":"6acff331.d4dbbc","type":"ui_switch","z":"c0be38a6.0d5d78","name":"uv","label":"uv","tooltip":"","group":"a585fbab.a4fa68","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"uv","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":150,"y":420,"wires":[["26f70995.bc0406"]]},{"id":"26f70995.bc0406","type":"mqtt out","z":"c0be38a6.0d5d78","name":"","topic":"${MQTT_UV}","qos":"","retain":"","broker":"e760d384.69587","x":370,"y":420,"wires":[]},{"id":"a72239d6.8ea888","type":"mqtt out","z":"c0be38a6.0d5d78","name":"","topic":"${MQTT_DETECT_BUTTOM}","qos":"","retain":"","broker":"e760d384.69587","x":880,"y":680,"wires":[]},{"id":"1e4fcf40.172fa1","type":"ui_button","z":"c0be38a6.0d5d78","name":"","group":"a585fbab.a4fa68","order":8,"width":0,"height":0,"passthru":false,"label":"Detect","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":650,"y":680,"wires":[["6a9e9a0d.335184","a72239d6.8ea888"]]},{"id":"2245f77.91c5f08","type":"mqtt in","z":"c0be38a6.0d5d78","name":"","topic":"${MQTT_AI_STATUS}","qos":"2","datatype":"auto","broker":"e760d384.69587","x":730,"y":220,"wires":[["70e812e7.a4301c"]]},{"id":"146c03b.5975bfc","type":"ui_text","z":"c0be38a6.0d5d78","group":"a585fbab.a4fa68","order":1,"width":0,"height":0,"name":"","label":"AI mode","format":"led: {{msg.payload.led}} uv: {{msg.payload.uv}} ir: {{msg.payload.ir}} ","layout":"row-spread","x":1120,"y":220,"wires":[]},{"id":"70e812e7.a4301c","type":"json","z":"c0be38a6.0d5d78","name":"","property":"payload","action":"","pretty":false,"x":940,"y":220,"wires":[["146c03b.5975bfc"]]},{"id":"baf6ff96.f534","type":"mqtt in","z":"c0be38a6.0d5d78","name":"","topic":"${MQTT_SHOW_HEIGHT}","qos":"2","datatype":"auto","broker":"e760d384.69587","x":750,"y":280,"wires":[["ddf65a2f.f3ae98"]]},{"id":"ddf65a2f.f3ae98","type":"json","z":"c0be38a6.0d5d78","name":"","property":"payload","action":"","pretty":false,"x":950,"y":280,"wires":[["f7ab1921.5f7338"]]},{"id":"f7ab1921.5f7338","type":"ui_text","z":"c0be38a6.0d5d78","group":"19bb753e.662f4b","order":3,"width":0,"height":0,"name":"","label":"center height","format":"{{msg.payload.height}} m","layout":"row-spread","x":1130,"y":280,"wires":[]},{"id":"a6036f19.166e9","type":"ui_text","z":"c0be38a6.0d5d78","group":"a585fbab.a4fa68","order":5,"width":0,"height":0,"name":"","label":"led intensity","format":"{{msg.status.text}}%","layout":"row-spread","x":370,"y":560,"wires":[]},{"id":"5fa6f41c.bdaebc","type":"status","z":"c0be38a6.0d5d78","name":"led_status","scope":["c85dbd07.cf75c"],"x":170,"y":560,"wires":[["a6036f19.166e9"]]},{"id":"81479af2.43b2c8","type":"mqtt in","z":"c0be38a6.0d5d78","name":"","topic":"${MQTT_DETECT_STATE}","qos":"2","datatype":"auto","broker":"e760d384.69587","x":230,"y":680,"wires":[["fa78ca49.391f18"]]},{"id":"fa78ca49.391f18","type":"function","z":"c0be38a6.0d5d78","name":"set button status","func":"if (msg.payload == \"running\"){\n    msg.enabled = false\n}\nelse {\n    msg.enabled = true\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":680,"wires":[["1e4fcf40.172fa1"]]},{"id":"a9b84e4.3f386b","type":"ui_text","z":"c0be38a6.0d5d78","group":"a585fbab.a4fa68","order":7,"width":0,"height":0,"name":"detect_state","label":"","format":"{{msg.payload}}","layout":"row-spread","x":1010,"y":460,"wires":[]},{"id":"fddbd21a.73edb","type":"mqtt in","z":"c0be38a6.0d5d78","name":"","topic":"${MQTT_DETECT_STATE}","qos":"2","datatype":"auto","broker":"e760d384.69587","x":750,"y":460,"wires":[["a9b84e4.3f386b"]]},{"id":"3210838b.6f4d4c","type":"ui_text","z":"c0be38a6.0d5d78","group":"19bb753e.662f4b","order":4,"width":0,"height":0,"name":"height_state","label":"","format":"{{msg.payload}}","layout":"row-spread","x":1010,"y":360,"wires":[]},{"id":"e5907254.d0f7e","type":"mqtt in","z":"c0be38a6.0d5d78","name":"","topic":"${MQTT_HEIGHT_STATE}","qos":"2","datatype":"auto","broker":"e760d384.69587","x":750,"y":360,"wires":[["3210838b.6f4d4c"]]},{"id":"6a9e9a0d.335184","type":"delay","z":"c0be38a6.0d5d78","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":760,"wires":[["fa78ca49.391f18"]]},{"id":"4277c21f.f57cfc","type":"mqtt in","z":"b09ebb05.61dc88","name":"","topic":"${MQTT_CJMCU}","qos":"2","datatype":"auto","broker":"e760d384.69587","x":130,"y":340,"wires":[["56754964.8078b8"]]},{"id":"cfc43b55.b2da68","type":"ui_gauge","z":"b09ebb05.61dc88","name":"","group":"c3b75fd4.b452e","order":3,"width":6,"height":4,"gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":"15","max":"35","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"30","x":910,"y":380,"wires":[]},{"id":"61ace5d8.dd080c","type":"ui_gauge","z":"b09ebb05.61dc88","name":"","group":"c3b75fd4.b452e","order":4,"width":6,"height":4,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":"50","max":"90","colors":["#00b500","#e6e600","#ca3838"],"seg1":"65","seg2":"75","x":900,"y":420,"wires":[]},{"id":"8632a851.2e1138","type":"ui_gauge","z":"b09ebb05.61dc88","name":"","group":"c3b75fd4.b452e","order":5,"width":6,"height":4,"gtype":"gage","title":"Light intensity","label":"lx","format":"{{value}}","min":"200","max":"600","colors":["#00b500","#e6e600","#ca3838"],"seg1":"300","seg2":"500","x":920,"y":460,"wires":[]},{"id":"56754964.8078b8","type":"json","z":"b09ebb05.61dc88","name":"","property":"payload","action":"","pretty":false,"x":330,"y":340,"wires":[["19fcf794.5d0028"]]},{"id":"19fcf794.5d0028","type":"function","z":"b09ebb05.61dc88","name":"t,h,l value  & set to global context","func":"flow.set('t', Number(msg.payload.temperature))\nflow.set('h', Number(msg.payload.humidity))\nflow.set('l', Number(msg.payload.light))\n\nt = { \"payload\":msg.payload.temperature }\nh = { \"payload\":msg.payload.humidity }\nl = { \"payload\":msg.payload.light }\nreturn [t,h,l];","outputs":3,"noerr":0,"initialize":"","finalize":"","x":570,"y":340,"wires":[["cfc43b55.b2da68","2c05bdee.f73d72"],["61ace5d8.dd080c","a0413ae9.3916c8"],["8632a851.2e1138","7d541106.53502","f0a69a7b.360278"]]},{"id":"2400c2d7.eeb6fe","type":"ui_gauge","z":"b09ebb05.61dc88","name":"","group":"c3b75fd4.b452e","order":6,"width":6,"height":4,"gtype":"gage","title":"CO2","label":"ppm","format":"{{value}}","min":"200","max":"1500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":890,"y":500,"wires":[]},{"id":"1ea7fa47.98fbe6","type":"mqtt in","z":"b09ebb05.61dc88","name":"","topic":"${MQTT_MH}","qos":"2","datatype":"auto","broker":"e760d384.69587","x":110,"y":400,"wires":[["c7a1e1fa.45e69"]]},{"id":"c7a1e1fa.45e69","type":"json","z":"b09ebb05.61dc88","name":"","property":"payload","action":"","pretty":false,"x":330,"y":400,"wires":[["69821d61.9f52b4"]]},{"id":"69821d61.9f52b4","type":"function","z":"b09ebb05.61dc88","name":"co2 value & set to global context","func":"flow.set('c', Number(msg.payload.co2))\np = { \"payload\":msg.payload.co2 }\nreturn p;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":400,"wires":[["2400c2d7.eeb6fe","b851d98d.669868","f0a69a7b.360278"]]},{"id":"1c041124.f5d73f","type":"ui_button","z":"b09ebb05.61dc88","name":"","group":"c3b75fd4.b452e","order":7,"width":0,"height":0,"passthru":false,"label":"get data","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":100,"y":180,"wires":[["235f047f.6ba62c"]]},{"id":"235f047f.6ba62c","type":"mqtt out","z":"b09ebb05.61dc88","name":"","topic":"${MQTT_GET_DATA}","qos":"","retain":"","broker":"e760d384.69587","x":320,"y":180,"wires":[]},{"id":"67307ab1.6fb014","type":"mqtt out","z":"c0be38a6.0d5d78","name":"","topic":"${MQTT_IR}","qos":"","retain":"","broker":"e760d384.69587","x":350,"y":480,"wires":[]},{"id":"f0e35969.2727b8","type":"ui_switch","z":"c0be38a6.0d5d78","name":"","label":"ir","tooltip":"","group":"a585fbab.a4fa68","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":150,"y":480,"wires":[["67307ab1.6fb014"]]},{"id":"f2101ad0.4a5498","type":"mqtt out","z":"c0be38a6.0d5d78","name":"","topic":"${MQTT_WRITE_70_FALSE}","qos":"","retain":"","broker":"e760d384.69587","x":940,"y":540,"wires":[]},{"id":"e0068b17.57a0c8","type":"ui_button","z":"c0be38a6.0d5d78","name":"","group":"a585fbab.a4fa68","order":10,"width":0,"height":0,"passthru":false,"label":"reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":690,"y":540,"wires":[["f2101ad0.4a5498"]]},{"id":"f0fe4050.c872c","type":"ui_template","z":"c0be38a6.0d5d78","group":"df1c4ce7.077ed","name":"","order":1,"width":"12","height":"9","format":"\n<script>\n    (function(scope) {\n        console.log('get the web');\n        console.dir(scope);\n        var img = document.getElementById('image')\n        img.src = 'detectResult.png'\n        scope.$watch('msg.payload', function(data) {\n            console.log('mqtt image event');\n            console.dir(data);\n            if (data !== undefined)\n                img.src = `data:image/png;base64,${data}`\n        });\n    })(scope);\n</script>\n<img id='image' width=\"100%\" height=\"100%\" alt=\"press the get image buttom for fatching the image\" src=\"\" />\n\n ","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":540,"y":940,"wires":[[]]},{"id":"7a8065d0.47d1cc","type":"mqtt in","z":"c0be38a6.0d5d78","name":"","topic":"${MQTT_IMAGE}","qos":"2","datatype":"auto","broker":"e760d384.69587","x":300,"y":900,"wires":[["9b4bd222.d0196","f0fe4050.c872c"]]},{"id":"9b4bd222.d0196","type":"function","z":"c0be38a6.0d5d78","name":"base64ToPNG","func":"var port = '3500port'\nvar imagePath = `${port}/node_modules/node-red-dashboard/dist/detectResult.png`\nconst fs = global.get('fs')\nvar base64 = msg.payload\nvar ReadableData = global.get('stream').Readable;\nconst imageBufferData = Buffer.from(base64, 'base64');\nvar streamObj = new ReadableData();\nstreamObj.push(imageBufferData);\nstreamObj.push(null);\nstreamObj.pipe(fs.createWriteStream(imagePath));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":880,"wires":[[]]},{"id":"482c5529.98e4dc","type":"mqtt out","z":"c0be38a6.0d5d78","name":"","topic":"${MQTT_NET_CHECK}","qos":"","retain":"","broker":"e760d384.69587","x":710,"y":1020,"wires":[]},{"id":"8a5a7758.54cf38","type":"ui_button","z":"c0be38a6.0d5d78","name":"","group":"19bb753e.662f4b","order":2,"width":0,"height":0,"passthru":false,"label":"check network","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":420,"y":1020,"wires":[["482c5529.98e4dc","8d190926.e887d8"]]},{"id":"8d190926.e887d8","type":"delay","z":"c0be38a6.0d5d78","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":1100,"wires":[["969d104b.f1313"]]},{"id":"7c608917.f3fae8","type":"mqtt in","z":"c0be38a6.0d5d78","name":"","topic":"${MQTT_NET_STATUS}","qos":"2","datatype":"auto","broker":"e760d384.69587","x":250,"y":1100,"wires":[["e5d13d73.1d62e"]]},{"id":"e5d13d73.1d62e","type":"function","z":"c0be38a6.0d5d78","name":"connected","func":"msg.reset = true\nmsg.payload = 'connected!'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":1100,"wires":[["8d190926.e887d8","3c535372.56d46c"]]},{"id":"3c535372.56d46c","type":"ui_text","z":"c0be38a6.0d5d78","group":"19bb753e.662f4b","order":1,"width":0,"height":0,"name":"","label":"network status","format":"{{msg.payload}}","layout":"row-spread","x":700,"y":1200,"wires":[]},{"id":"969d104b.f1313","type":"function","z":"c0be38a6.0d5d78","name":"disconnected","func":"msg.payload = 'disconnected'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":1100,"wires":[["3c535372.56d46c"]]},{"id":"b851d98d.669868","type":"ui_chart","z":"b09ebb05.61dc88","name":"","group":"c3b75fd4.b452e","order":11,"width":0,"height":0,"label":"CO2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":890,"y":300,"wires":[[]]},{"id":"2c05bdee.f73d72","type":"ui_chart","z":"b09ebb05.61dc88","name":"","group":"c3b75fd4.b452e","order":8,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":910,"y":180,"wires":[[]]},{"id":"a0413ae9.3916c8","type":"ui_chart","z":"b09ebb05.61dc88","name":"","group":"c3b75fd4.b452e","order":9,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":900,"y":220,"wires":[[]]},{"id":"7d541106.53502","type":"ui_chart","z":"b09ebb05.61dc88","name":"","group":"c3b75fd4.b452e","order":10,"width":0,"height":0,"label":"Light intensity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":920,"y":260,"wires":[[]]},{"id":"66a0047.ede50fc","type":"ui_form","z":"b09ebb05.61dc88","name":"","label":"monitor dashborad setup","group":"2dd495be.cc7aea","order":2,"width":0,"height":0,"options":[{"label":"Temperature max","value":"Tmax","type":"number","required":false,"rows":null},{"label":"Temperature min","value":"Tmin","type":"number","required":false,"rows":null},{"label":"Humidity max","value":"Hmax","type":"number","required":false,"rows":null},{"label":"Humidity min","value":"Hmin","type":"number","required":false,"rows":null},{"label":"Light max","value":"Lmax","type":"number","required":false,"rows":null},{"label":"Light min","value":"Lmin","type":"number","required":false,"rows":null},{"label":"CO2 max","value":"Cmax","type":"number","required":false,"rows":null},{"label":"CO2 min","value":"Cmin","type":"number","required":false,"rows":null}],"formValue":{"Tmax":"","Tmin":"","Hmax":"","Hmin":"","Lmax":"","Lmin":"","Cmax":"","Cmin":""},"payload":"","submit":"submit","cancel":"cancel","topic":"form","x":150,"y":480,"wires":[["739380d1.e3e05"]]},{"id":"739380d1.e3e05","type":"function","z":"b09ebb05.61dc88","name":"config","func":"if (msg.payload.email)\nflow.set('email', msg.payload.email)\nif (msg.payload.Tmax && msg.payload.Tmin) \ntemp = {ui_control:{max: msg.payload.Tmax, min: msg.payload.Tmin}}\nelse temp = {}\nif (msg.payload.Hmax && msg.payload.Hmin) \nhum = {ui_control:{max: msg.payload.Hmax, min: msg.payload.Hmin}}\nelse hum = {}\nif (msg.payload.Lmax && msg.payload.Lmin) \nlig = {ui_control:{max: msg.payload.Lmax, min:msg.payload.Lmin}}\nelse lig = {}\nif (msg.payload.Cmax && msg.payload.Cmin) \nco2 = {ui_control:{max: msg.payload.Cmax, min:msg.payload.Cmin}}\nelse co2 = {}\nreturn [temp, hum, lig, co2];","outputs":4,"noerr":0,"initialize":"","finalize":"","x":550,"y":480,"wires":[["cfc43b55.b2da68"],["61ace5d8.dd080c"],["8632a851.2e1138"],["2400c2d7.eeb6fe"]]},{"id":"371ca84.2073c58","type":"file","z":"b09ebb05.61dc88","name":"save email","filename":"/home/azureuser/node-red/node-red-2000/3500port/config.json","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":670,"y":740,"wires":[[]]},{"id":"d89b2e9b.7da92","type":"e-mail","z":"b09ebb05.61dc88","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"","x":990,"y":600,"wires":[]},{"id":"f0a69a7b.360278","type":"function","z":"b09ebb05.61dc88","name":"alarm ","func":"emailContext = ''\ntemp_value = flow.get('t')  \nhum_value = flow.get('h')  \nlight_value = flow.get('l')\nco2_value = flow.get('c')\nunnormalState = []\nif (temp_value >= flow.get('TUB')){\n    emailContext += `Temperature is ${temp_value} \\xB0C.\\n`\n    unnormalState.push('temperature')\n}\nif (hum_value >= flow.get('HUB')){\n    emailContext += `Humidity is ${hum_value} %.\\n`\n    unnormalState.push('humidity')\n}\nif (light_value >= flow.get('LUB')){\n    emailContext += `Light intensity exceeds ${light_value} lux.\\n`\n    unnormalState.push('light_intensity')\n}\nif (co2_value >= flow.get('CUB')){\n    emailContext += `Co2 concentration is ${co2_value} ppm.\\n`\n    unnormalState.push('co2 concentration')\n}\nif (unnormalState.length != 0){\n    sent = unnormalState.join(', ')\n    if (unnormalState.length == 1)\n        emailContext += sent.charAt(0).toUpperCase() + sent.slice(1) + ' is unnormal.'\n    else \n        emailContext += sent.charAt(0).toUpperCase() + sent.slice(1) + ' are unnormal.'\n}\nmsg = {\n    to : flow.get('email'),\n    topic : 'Agormeans alarm massage',\n    payload : emailContext + ''\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":600,"wires":[["6f1e1c5c.0d4c54"]]},{"id":"dd1dbb00.b71898","type":"comment","z":"b09ebb05.61dc88","name":"sensor inputs","info":"","x":110,"y":300,"wires":[]},{"id":"ccd0f82f.cada08","type":"comment","z":"c0be38a6.0d5d78","name":"change me!","info":"in base64ToPNG node\nvar port = 'change me'","x":550,"y":840,"wires":[]},{"id":"d3719c0e.61926","type":"debug","z":"b09ebb05.61dc88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":780,"wires":[]},{"id":"38e241bd.4ef4ee","type":"function","z":"b09ebb05.61dc88","name":"set config.json property","func":"var config = {\n    email: msg.payload.email,\n    TUB: msg.payload.TUB,\n    HUB: msg.payload.HUB,\n    LUB: msg.payload.LUB,\n    CUB: msg.payload.CUB\n}\nmsg.payload = config\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":740,"wires":[["371ca84.2073c58","d3719c0e.61926"]]},{"id":"a9c3c170.6a597","type":"ui_form","z":"b09ebb05.61dc88","name":"","label":"alarm system setup","group":"2dd495be.cc7aea","order":1,"width":0,"height":0,"options":[{"label":"email","value":"email","type":"email","required":false,"rows":null},{"label":"Temperature upper bound","value":"TUB","type":"number","required":false,"rows":null},{"label":"Humidity upper bound","value":"HUB","type":"number","required":false,"rows":null},{"label":"Light intensity upper bound","value":"LUB","type":"number","required":false,"rows":null},{"label":"CO2 upper bound","value":"CUB","type":"number","required":false,"rows":null}],"formValue":{"email":"","TUB":"","HUB":"","LUB":"","CUB":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":740,"wires":[["38e241bd.4ef4ee"]]},{"id":"a56da770.bb60f8","type":"inject","z":"b09ebb05.61dc88","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":860,"wires":[["85a7d46a.bd3c78"]]},{"id":"85a7d46a.bd3c78","type":"file in","z":"b09ebb05.61dc88","name":"read config file","filename":"/home/azureuser/node-red/node-red-2000/3500port/config.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":300,"y":860,"wires":[["e2d87a99.068e48"]]},{"id":"c5b665c4.ad46f8","type":"ui_text","z":"b09ebb05.61dc88","group":"c3b75fd4.b452e","order":1,"width":0,"height":0,"name":"","label":"alarm system upper bound","format":"Temperature : {{msg.payload.TUB}} Humidity : {{msg.payload.HUB}} Light Intensity : {{msg.payload.LUB}} Co2 : {{msg.payload.CUB}}","layout":"col-center","x":720,"y":860,"wires":[]},{"id":"e2d87a99.068e48","type":"json","z":"b09ebb05.61dc88","name":"","property":"payload","action":"","pretty":false,"x":470,"y":860,"wires":[["c5b665c4.ad46f8","89a6049f.41a868"]]},{"id":"89a6049f.41a868","type":"function","z":"b09ebb05.61dc88","name":"set config to global context","func":"flow.set('email', msg.payload.email)\nflow.set('TUB', msg.payload.TUB)\nflow.set('HUB', msg.payload.HUB)\nflow.set('LUB', msg.payload.LUB)\nflow.set('CUB', msg.payload.CUB)","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":900,"wires":[[]]},{"id":"6f1e1c5c.0d4c54","type":"delay-gate","z":"b09ebb05.61dc88","name":"","triggerPayload":"","triggerPayloadType":"str","delayDuration":"10","delayUnits":"hr","openDuration":5,"openUnits":"s","closeGate":true,"x":810,"y":600,"wires":[["9e618825.ccca38","d89b2e9b.7da92"]]},{"id":"da5fa618.47dd28","type":"comment","z":"b09ebb05.61dc88","name":"delay gate usage ","info":"closed (accepted msg in) -> delay\ndelay (time up) -> open\nopen (a msg pass | time up) -> closed\n\nnew set 10 hour send 1 email","x":800,"y":560,"wires":[]},{"id":"713e330e.a5ebdc","type":"comment","z":"b09ebb05.61dc88","name":"alarm setup","info":"","x":90,"y":680,"wires":[]},{"id":"9e618825.ccca38","type":"debug","z":"b09ebb05.61dc88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1010,"y":560,"wires":[]},{"id":"a59fd6ad.658568","type":"inject","z":"b09ebb05.61dc88","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"email","payloadType":"flow","x":120,"y":1040,"wires":[["3035b1c1.46017e"]]},{"id":"3035b1c1.46017e","type":"debug","z":"b09ebb05.61dc88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":310,"y":1040,"wires":[]},{"id":"eeb3325b.a24cf","type":"comment","z":"b09ebb05.61dc88","name":"change me! port","info":"","x":300,"y":820,"wires":[]},{"id":"8708bbff.af2fe8","type":"comment","z":"b09ebb05.61dc88","name":"change me! port","info":"","x":680,"y":700,"wires":[]},{"id":"cd727609.a429a8","type":"comment","z":"b09ebb05.61dc88","name":"change me! email account","info":"userid = sender email\npassword = sender email password \n\nopen and continue the feature on gmail:\nsecond ans help: \nhttps://serverfault.com/questions/635139/how-to-fix-send-mail-authorization-failed-534-5-7-14","x":1050,"y":640,"wires":[]}]